/*common css start*/
* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

p {
    font-size: 14px;
    line-height: 1.4;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

input:focus,
select:focus,
textarea:focus{
    box-shadow: none;
    border: 1px solid #000;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
    color: #000;
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
}
/*common css End*/

/*Banner section css start*/

.banner-section {
    position: relative;
    padding: 100px 0;
    background: #151515;
    overflow: hidden;
    z-index: 1;
}

.banner-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.05;
    background: url(../images/bg1.png);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1;
}

.banner-section .banner-info {
    text-align: center;
    position: relative;
}

.banner-section .banner-info .title {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 10px;
}

.banner-section .banner-info .banner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
}

.banner-section .banner-info .banner-item li.active {
    margin-left: 20px;
    position: relative;
    padding-left: 5px;
}

.banner-section .banner-info .banner-item li a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: 'DM Sans';
}

.banner-section .banner-info .banner-item li.active:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    border: 1px solid #fd4a18;
    top: 50%;
    transform: translateY(-50%) rotate(25deg);
    left: -6px;
}

.banner-section .banner-info .banner-item .active a {
    color: #fd4a18;
}
/*Banner section css End*/

/*Header css start*/
.header-section {
    /* background: #151515; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}
.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: relative;
}
.brand-logo-outer{
    display: inline-block;
}
.brand-logo-outer .brand {
    max-width: 130px;
}
.header-section .navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
.header-section .navbar-brand .brand {
    height: 100%;
}
.nav-items-wrapper .nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  height: 100%;
  padding-left: 0px;
}
.nav-list .nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-item-link:hover {
  color: #fd4a18;
}
.nav-item-link.active {
    color: #fd4a18;
}
.nav-item-link {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
}

    /*small btn css*/
.nav-toggle-btn .nav-btn-inner {
    width: 26px;
    border-bottom: 1px solid #ff4800;
    position: relative;
    transition: all .4s ease;
}
.nav-toggle-btn {
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff4800;
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.nav-toggle-btn .nav-btn-inner:before {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #ff4800;
    top: -7px;
}
.nav-toggle-btn .nav-btn-inner:after {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #ff4800;
    top: 7px;
}

.menu-visible .nav-toggle-btn .nav-btn-inner {
    border: transparent;
}

.menu-visible .nav-toggle-btn .nav-btn-inner:before {
    transform: rotate(45deg);
    top: 0px;
    transition: all .3s ease;
}

.menu-visible .nav-toggle-btn .nav-btn-inner:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

    /*fixed header*/
.fixed-header .header-section {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 24px rgba(149,157,165,.2);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*Header css End*/

/*Home section css start*/
.home-section {
    padding: 130px 0 50px;
    position: relative;
    z-index: 1;
    background-color: #151515;
}

.home-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.05;
    background: url(../images/bg1.png);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1;
}

.home-content-subtitle {
    font-size: 18px;
    font-weight: 600;
    color: #fd4a18;
    margin-bottom: 10px;
}

.home-content-title {
    font-size: 60px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 15px;
}

.home-content-text {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 30px;
}

.get-btn {
    background: #fff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    color: #fd4a18;
    border: 1px solid #fd4a18;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.get-btn:after {
    content: '';
    width: 115px;
    height: 100px;
    background: #fd4a18;
    position: absolute;
    transform: rotate(45deg);
    left: -83px;
    top: -80px;
    /* opacity: 0; */
    transition: 0.5s ease-in-out;
    z-index: -1;
}

.get-btn:hover::after {
    width: 190px;
    height: 190px;
    left: -22px;
    top: -70px;
}

.get-btn:hover {
    color: #fff;
}

.home-items-wrapper .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.home-items-wrapper .owl-dots .owl-dot {
    width: 20px;
    height: 7px;
    margin-right: 10px;
    background: #ddd;
    border-radius: 30px;
    transition: all .5s ease;
}

.home-items-wrapper .owl-dots .owl-dot:last-child {
    margin-right: 0;
}

.home-items-wrapper .owl-dots .owl-dot.active {
    background: #fd4a18;
    width: 30px;
}
/*Home section css End*/

/*Service section css start*/
.service-section {
    padding: 50px 0;
    position: relative;
    z-index: 1;
}
.service-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.05;
    background: url(../images/service-bg.png);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1;
}

.section-title-outer {
    max-width: 600px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.section-title-outer .section-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #000;
}

.section-title-outer .section-text {
    font-size: 16px;
    font-weight: 400;
    color: #9297a0;
}

.service-item-wrap:hover .service-item-image {
    -webkit-transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
    transform: scale3d(1.05, 1.05, 1.05) translateZ(0);
}

.service-item-wrap {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 6px;
    margin-bottom: 20px;
}

.service-item-image {
    margin-bottom: 15px;
    transition: 0.5s ease;
}

.service-item-content-outer{
    padding: 0 20px 20px 20px;
}

.service-item-title {
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.service-item-text {
    font-size: 14px;
    line-height: 1.7;
    color: #9297a0;
    font-weight: 400;
    margin-bottom: 15px;
}
.service-item-wrap .circle2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #1d1b19;
    bottom: -55px;
    opacity: .3;
    right: -20px;
    transition: .5s ease;
    position: absolute;
}

.service-item-wrap .circle1 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #fd4a18;
    bottom: -25px;
    opacity: .3;
    right: -55px;
    transition: .5s ease;
    position: absolute;
}

.service-item-wrap:hover .circle2 {
    opacity: 1;
}

.service-item-wrap:hover .circle1 {
    opacity: 1;
}
/*Service section css End*/

/*Testimonial section css start*/
.testimonial-section {
    padding: 50px 0;
}

.testimonial-item-image {
    object-fit: contain;
    max-height: 600px;
}

.testimonial-item-content .testimonial-text {
    font-size: 22px;
    color: #606060;
    font-weight: 600;
    margin-bottom: 30px;
}

.testimonial-item-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonial-item-author .author-name {
    font-size: 20px;
    font-weight: 800;
    color: #000;
    margin-bottom: 0;
}

.testimonial-item-ratting {
    display: flex;
}

.testimonial-item-ratting i {
    font-size: 17px;
    margin-right: 5px;
    color: #fd4a18;
}

.testimonial-items-wrapper .owl-dots {
    margin-top: 20px;
    text-align: center;
}

.testimonial-items-wrapper .owl-dots .owl-dot {
    width: 20px;
    height: 7px;
    background: #000;
    margin-right: 10px;
    border-radius: 30px;
    transition: all .5s ease;
}

.owl-dot.active {
    background: #fd4a18;
}

.testimonial-items-wrapper .owl-dots .owl-dot.active {
    background: #fd4a18;
    width: 30px;
}
/*Testimonial section css End*/

/*Footer section css start*/
.footer-section {
    padding: 60px 0px;
    background: #151515;
    position: relative;
    z-index: 1;
    background-image: url(../images/footer-bg.png);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}

.footer-item-outer .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}

.footer-brand-outer {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-item-outer .text {
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
    line-height: 1.7;
    margin-bottom: 30px;
}

.footer-item-outer {
    margin-bottom: 20px;
}

.footer-item-outer .footer-list {
    padding-left: 0;
    margin-bottom: 10px;
}

.footer-list-item-link {
    display: inline-block;
    color: #b2b3cf;
    font-size: 16px;
    font-weight: 400;
    transition: all .3s ease-in-out;
    /* padding-bottom: 10px; */
    position: relative;
    padding-left: 15px;
}

.footer-social-links {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

.footer-list-item-link i {
    margin-right: 6px;
    color: #ff4800;
}

.footer-list-item-link:hover {
    color: #ff4800;
}

.footer-social-link-item a {
    background: #0d0d0d;
    font-size: 18px;
    color: #FFF;
    display: flex;
    width: 45px;
    height: 45px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.footer-social-link-item {
    margin-right: 8px;
}

.footer-social-link-item:hover a {
    background: #fd4a18;
}

.footer-list-item-link:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fd4a18;
    border-radius: 50%;
    left: 0;
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
}

.footer-list-item {
    margin-bottom: 10px;
}

.footer-list-item-link:hover {
    padding-left: 20px;
}
/*Footer section css End*/

/*About page css start*/
.about-section {
    padding: 50px 0;
}

.about-content-wrap {
    margin-bottom: 30px;
}

.about-content-subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #fd4a18;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.about-content-title {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #000;
}

.about-content-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    color: #616161;
    margin-bottom: 30px;
}

.about-content-list-item {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.about-content-list-item i {
    color: #fd4a18;
    font-size: 14px;
    margin-right: 6px;
}

.about-item-image-outer {
    margin-bottom: 30px;
}

.about-item-image-inner {
    max-width: 500px;
    border-radius: 5px;
}

.progress-bar-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.progress-bar-item-top .title {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.progress-bar-item-top .value {
    font-size: 17px;
    font-weight: 800;
    color: #000;
}

.progress-bar-item-outer {
    margin-bottom: 20px;
}

.progress-bar-item-outer .progress {
    height: 6px;
}

.progress-bar-item-outer .progress .progress-bar {
    background: #fd4a18;
}
/*About page css End*/

/*Blog page css start*/
.blog-section {
    background: #fff;
    padding: 50px;
}

.blog-item-post-date-outer {
    position: absolute;
    top: 50px;
    left: 30px;
    background: #fd4a18;
    padding: 12px 17px;
    border-radius: 5px;
}

.blog-item-post-date-outer .date {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Kanit';
    color: #fff;
}

.blog-item-post-date-outer .year {
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

.blog-item-outer {
    margin-bottom: 40px;
}

.blog-item-outer:hover .blog-item-info-title {
    color: #fd4a18;
}

.blog-item-info-text {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 30px;
    font-family: 'DM Sans';
}

.blog-explore-more-btn {
    display: inline-block;
    border: 1px solid #ff7e16;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #ff7e16;
}

.blog-explore-more-btn:hover {
    background: #ff7e16;
    color: #fff;
}

.search-form {
    margin-bottom: 30px;
}

.search-form input {
    background: #F8F4F1;
    border-radius: 5px;
    height: 50px;
    border: none;
}

.search-form input:focus {
    box-shadow: none;
    border: none;
}

.category-items-wrapper,
.recent-blog-items-wrap,
.tag-items-wrapper,
.blog-contact-form {
    background: #F8F8F8;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

.search-form .serch-btn {
    border: 1px solid #fd4a18;
    background: #fd4a18;
    padding: 0 20px;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}

.search-form .serch-btn i {
    font-size: 14px;
    color: #fff;
}

.blog-right-item-title {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Kanit';
    color: #000;
    margin-bottom: 20px;
}

.category-item-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.category-item-left,
.category-item-right {
    font-size: 17px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #0C0A06;
    display: inline-block;
    transition: all .3s ease;
}

.category-item-outer:hover .category-item-left,
.category-item-outer:hover .category-item-right {
    color: #fd4a18;
}

.recent-blog-item-outer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.recent-blog-item-image img {
    width: 80px;
}

.recent-blog-item-image {
    margin-right: 10px;
}

.recent-blog-item-info-top {
    font-size: 14px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #fd4a18;
    margin-bottom: 0px;
}

.recent-blog-item-info-title {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #0C0A06;
    line-height: 26px;
    display: inline-block;
}

.recent-blog-item-outer:hover .recent-blog-item-info-title {
    color: #FF7E16;
}

.tag-items-inner {
    display: inline-block;
    margin-right: 6px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'DM Sans';
    padding-bottom: 6px;
    color: #0C0A06;
}

.tag-items-inner:hover {
    color: #FF7E16;
}

.blog-contact-form-label {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #0C0A06;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.blog-contact-form-input {
    background: #FFEDDF;
    margin-bottom: 15px;
    height: 45px;
    border: 1px solid #FFEDDF;
    border-radius: 5px;
}

.blog-contact-form-input:focus,
.blog-contact-form-textarea:focus {
    box-shadow: none;
    border: 1px solid #FFEDDF;
}

.blog-contact-form-textarea {
    background: #FFEDDF;
    margin-bottom: 15px;
    border: 1px solid #FFEDDF;
    border-radius: 5px;
}

.blog-contact-form-btn {
    margin-top: 10px;
    width: 100%;
    background: #FF7E16;
    padding: 15px 0;
    border: 1px solid #FF7E16;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Kanit';
    color: #fff;
    transition: all .3s ease;
}

.blog-contact-form-btn:hover {
    background: transparent;
    color: #FF7E16;
}
.blog-item-image-outer {
    position: relative;
    display: block;
}

.blog-item-info-outer {
    margin-top: 15px;
}

.blog-item-info-top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.blog-item-info-top .post-info {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fd4a18;
}
.blog-item-image-outer img {
    border-radius: 15px;
}
/*.blog-item-info-top .post-info:last-child {
    margin-left: 30px;
}*/

.blog-item-info-title {
    display: inline-block;
    font-size: 26px;
    font-weight: 800;
    color: #000;
}

.recent-blog-item-info .blog-item-info-title {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}
/*Blog page css End*/

/*Contact section css start*/
.contact-section {
    padding: 60px 0;
    background: #F8F8F8;
}

.contact-sec-left {
    background: #fff;
    border: 1px solid rgba(12, 10, 6, 0.08);
    border-radius: 10px;
    width: 100%;
    max-width: 620px;
    margin: auto;
    padding: 80px 40px;
    margin-bottom: 30px;
}

.contact-sec-left .title {
    font-size: 30px;
    color: #0C0A06;
    font-weight: 800;
    margin-bottom: 25px;
}

.contact-item-wrap {
    border-left: 4px solid #EEE;
}

.contact-item-outer {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Kanit';
    color: #595959;
    margin-bottom: 20px;
}

.contact-item-outer i {
    font-size: 20px;
    margin-right: 5px;
    color: #fd4a18;
}

.contact-item-outer strong {
    color: #000;
    margin-right: 5px;
}

.contact-item-outer a {
    color: #595959;
}

.contact-item-outer a:hover {
    color: #FF7E16;
}

.contact-form .input-field-wrapper {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 25px;
}

.contact-form .input-field-wrapper.textarea {
    height: 150px;
}

.contact-form .input-field-wrapper i {
    position: absolute;
    line-height: 50px;
    color: #fd4a18;
    left: 15px;
}

.contact-form .input-field-wrapper input,
.input-field-wrapper textarea,
.input-field-wrapper select {
    height: 100%;
    width: 100%;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Kanit';
    outline: none;
    border: none;
    color: #595959;
    background: #fff;
    border-radius: 5px;
    line-height: 40px;
}

.contact-form .input-field-wrapper input:focus {
    box-shadow: none;
}

.ageer-field-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ageer-field-wrapper input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: #F5F3F1;
    border: 1px solid #EEEEEE;
    margin-top: 5px;
}

.ageer-field-wrapper label {
    font-size: 16px;
    font-weight: 400;
    font-family: 'DM Sans';
    color: #5E5E5E;
}

.contact-form-btn {
    background: #fd4a18;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #fd4a18;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    color: #F5F3F1;
    margin-top: 10px;
    text-transform: capitalize;
    transition: all .3s ease;
}

.contact-form-btn:hover {
    background: transparent;
    color: #fd4a18;
}
.section-title-wrap .title {
    font-size: 40px;
    font-weight: 800;
    color: #0C0A06;
    margin-bottom: 0;
}

.section-title-wrap .text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #595959;
    margin-bottom: 25px;
}
/*Contact section css End*/

/*Project section css start*/
.project-section{
    padding: 50px 0;
}

.project-image-outer {
    display: block;
}

.project-image-outer img {
    transition: .5s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-item-outer {
    margin-bottom: 30px;
}

.project-item-outer:hover .project-image-outer img {
    -webkit-filter: unset;
    filter: unset;
}

.project-item-outer:hover .project-info:before {height: 100%;}

.project-info:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: .5s;
    background: #ff4800;
    z-index: -1;
}

.project-item-outer:hover .project-position {
    color: #fff;
}


.project-info {
    padding: 30px 10px;
    transition: .5s;
    position: relative;
    z-index: 1;
    background: #111;
    text-align: center;
}

.project-name {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    transition: all .5s ease;
    display: block;
}

.project-name:hover {
    color: #fff;
}

.project-position {
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 400;
    color: #d6d6d6;
    transition: all .5s ease;
}

.project-items-wrapper .owl-dots {
    text-align: center;
    margin-top: 20px;
}

.project-items-wrapper .owl-dots .owl-dot {
    width: 15px;
    height: 5px;
    margin: 0 3px;
    background: #d6d6d6;
    transition: .5s;
    border-radius: 0;
}

.project-items-wrapper .owl-dots .owl-dot.active {
    background: #ff4800;
    width: 20px;
}

.project-items-wrapper .owl-nav .owl-prev {
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #ffffffed!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.project-items-wrapper .owl-nav .owl-prev span {
    font-size: 30px;
    line-height: 24px;
}

.project-items-wrapper .owl-nav .owl-next {
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background: #fff!important;
    width: 40px;
    cursor: pointer;
    height: 40px;
    position: absolute;
    display: block;
    z-index: 1000;
    border-radius: 50%;
}

.project-items-wrapper .owl-nav .owl-next span {
    font-size: 30px;
    line-height: 24px;
}
/*Project section css End*/